<!DOCTYPE html>
<html layout:decorator="layout">
<head>
    <!--/*-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/css/social-connect.css"/>
    <!--*/-->
</head>
<body>
<div class="container" layout:fragment="content">
    <table class="table table-striped">
        <caption>
            <h2>My Profile</h2>
        </caption>
        <tr>
            <td>Username</td>
            <td>test</td>
        </tr>
        <tr>
            <td>Password</td>
            <td>********</td>
        </tr>
        <tr>
            <td>First name</td>
            <td>Test</td>
        </tr>
        <tr>
            <td>Middle name</td>
            <td>Test</td>
        </tr>
        <tr>
            <td>Last name</td>
            <td>Test</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>test@gmail.com</td>
        </tr>
        <tr>
            <td>Last Logon Time</td>
            <td>26/9/2014 10:18:41 AM</td>
        </tr>
    </table>
</div>
</body>
</html>