<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Spring Social Sample</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../static/css/vendor/bootstrap-social.css" th:href="@{/css/vendor/bootstrap-social.css}"/>
    <link rel="stylesheet" href="../static/css/social-connect.css" th:href="@{/css/social-connect.css}"/>
</head>
<body>
    <header role="banner">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_menu" sec:authorize="isAuthenticated()">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Spring Social Sample</a>
                </div>
                <div class="collapse navbar-collapse" id="nav_menu" sec:authorize="isAuthenticated()">
                    <form method="post" th:action="@{/logout}">
                        <button type="submit" class="btn btn-default navbar-btn navbar-right">Sign out</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <main role="main">
        <div class="container" layout:fragment="content">
            Main content here
        </div>
    </main>

    <footer role="contentinfo">
        <div class="container">
            <p class="text-muted text-center">&copy; 2014 Spring Social Sample  <a href="https://github.com/sanlyfang/social-connect">GitHub</a></p>
        </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="../static/js/social-connect.js" th:src="@{/js/social-connect.js}"></script>
</body>
</html>